/*  your css code here. If applicable */
#grid {
  display: grid;
  grid-template-rows: repeat(5, 124px);
  grid-template-columns: repeat(4, 242.5px);
  grid-gap: 10px 10px;
}

#grid > div {
  background: green;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Box positions using span */
#grid > div:nth-child(1) {
  grid-column: span 4;
}

#grid > div:nth-child(2) {
  grid-row: span 4;
}

#grid > div:nth-child(3) {
  grid-column: span 1;
}

#grid > div:nth-child(4) {
  grid-column: span 2;
}

#grid > div:nth-child(5) {
  grid-column: span 2;
}

#grid > div:nth-child(6) {
  grid-column: span 1;
}

#grid > div:nth-child(7) {
  grid-column: span 1;
}

#grid > div:nth-child(8) {
  grid-column: span 1;
}

#grid > div:nth-child(9) {
  grid-column: span 1;
}

#grid > div:nth-child(10) {
  grid-column: span 3;
}